@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-variant: inherit;
    line-height: inherit;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  min-width: 100%;
}

#__next {
  width: 100%;
  min-width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

.create-post-quill .ql-toolbar {
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  overflow: hidden !important;
  pointer-events: none !important;
}

.create-post-quill .ql-container {
  border-color: rgba(0,0,0,0) !important;
  box-shadow: none !important;
}

.ql-tooltip { 
  left: 16px !important;
}
